.footer{
    background : #242424;
    height: 65px;
    text-align: center;
    margin-top: 20px;
    
    color: chocolate;
}
.footer small{
    margin: 16px;
    font-size: 16px;
}
.footer p{
    margin :16px;
}
p{
    display: inline;
}

