.video-list-wrapper h3{
    text-align: center;
    color: #353535;
    margin: 12px;
    font-weight: 300px;
    font-size: 18px;

}
.video-list-item-wrapper{
    background : #fff;
    border-bottom: 2px solid #d5d5d5;
    display: flex;
}
.video-list-item-wrapper h2{
    font-size: 13px;
    color: #525252;
}
.left {
    background-size: cover !important;
}
.left div{
    width: 90px;
    height: 90px;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background: url('/images/play.png');
}
.right {
    flex-grow: 1;
    padding: 10px;
}
.news-list-wrapper{
    box-sizing: border-box;
    transform: translate(-100%);
    transition : all .5s ease-in;
    opacity: 0;
}
.news-list-wrapper-active {
    opacity: 1;
    transform: translate(0%)
}

.related-wrapper{
    margin: 0px 5px;
}