.card-info {
    font-size: 11px;
}
.card-info img {
    margin-right: 5px;
    margin-top: 5px;
    width: 14px;
    height: 14px;
}
.team-name {
    margin-right: 10px;
    background: #d1d1d1;
    color: #fff;
    padding :2px 5px;

}
.date{
    color: #2196f3

}